.element {
  
}

.element.active {
  background-color: rgba(255, 0, 0, 0.11);
}

.draggable {
  cursor: move;
  opacity: 1;
  border: none;
  transition: opacity 0.2s ease, border 0.2s ease;
}

.draggable.active {
  border: 1px solid rgb(41, 41, 41);
}

.draggable.dragging {
  opacity: 0.5;
  border: 1px solid rgb(41, 41, 41);
  background-color: rgba(255, 0, 0, 0.2);
}

.draggable.hidden {
  opacity: 0.3;
}

.childrencontainer {
  height: auto;
  display: block;
}

.childrencontainer.collapsed {
  height: 0;
  display: block;
  overflow: hidden;
}
