@media only screen {

    .navbar {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
        transition: transform 0.3s ease-in-out;
        opacity: 0.8;
    }

    .navbar.hidden {
        transform: translateY(-100%);
    }

    .navbar nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: right;
    }

    .navbar nav ul li {
        display: inline;
    }

    .navbar nav ul li a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        padding-left: 2em;
        padding-right: 2em;
        display: inline-block;
    }
}

@media print {
    .navbar {
        display: none;
    }
}